.play-btn{
    background:url(/static/admin/img/btn_up.png) no-repeat;
    background-size: 100%;
    background-size: 280px 100px;
    cursor:pointer;
    border:none;
    width: 280px;
    height: 100px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.play-btn{
    background-size: 100%;
    background-size: 140px 50px;
    width: 140px;
    height: 50px;

}

.play-btn:hover {
    background:url(/static/admin/img/btn_over.png) no-repeat;
    background-size: 100%;
    background-size: 140px 50px;
    color: #ffffff;
}

.game-row {
    margin-bottom: 4em;
}

.game-desc {
    text-align: center;
}

.play-btn:hover {
    background:url(/static/admin/img/btn_over.png) no-repeat;
    background-size: 100%;
    background-size: 280px 100px;
    color: #ffffff;
}

.coming_soon {
    color: #f4c23f;
    font-size: 20px;
    font-weight: bold;
}

.about_divider_1 {
    background-color: #f4c23f;
    height: 12px;
}

.about_divider_2 {
    background-color: #1999d9;
    height: 25px;
}

#about_section {
    background-color: #ffffff;
}

#about_section h1 {
    margin-top: 0.5rem;
}

h5 {
    color: #1999d9;
    margin-top: 1em;
}

.nav-item.active .nav-link {
    color: #d50b23 !important;
    font-size: 30px;
    font-weight: bold;
}

.navbar-light .navbar-toggler-icon {
    background: url(/static/admin/img/2021/option.png) no-repeat;
    background-size: 100%;
    background-size: 30px 30px;
}

.navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
    background: url(/static/admin/img/2021/close.png) no-repeat;
    background-size: 100%;
    background-size: 30px 30px;
}

.navbar-collapse {
    border-top: yellow 2px solid;
}

.navbar-collapse .nav-item {
    text-align: right;
}

.navbar-collapse .nav-item.d-flex {
    display: list-item !important;
    align-items: normal !important;
}

@media (min-width: 576px) {
    .navbar-collapse .nav-item.d-flex {
        align-items: center!important;
        display: flex!important;
    }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-brand img {
        height: 72px;
    }

    .play-btn{
        background-size: 100%;
        background-size: 280px 100px;
        width: 280px;
        height: 100px;
        font-size: 37px;
    }

    .play-btn:hover {
        background:url(/static/admin/img/btn_over.png) no-repeat;
        background-size: 100%;
        background-size: 280px 100px;
        color: #ffffff;
    }

    .coming_soon {
        font-size: 37px;
    }
}